*.*~
*.dex
*.xml
*.txt
*.apk
*-no.*
*.php

#*#

build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
local.properties
handle_data.php

.gradle
.DS_Store
.idea/

captures

app/build/outputs/apk/
